name: Check markdown links

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 0 * * 1"  # Every Monday

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install linkchecker
        run:  python -m pip install linkcheckmd 

      - name: Check Markdown links
        run:  python -m linkcheckmd ./docs